---
import { getCollection } from "astro:content";

const storiesCollection = await getCollection("stories");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>astro-loader-storyblok minimal</title>
  </head>
  <body>
    <h1>astro-loader-storyblok</h1>

    <table>
      <caption>List of Stories</caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Full slug</th>
          <th>Created at</th>
          <th>Updated at</th>
        </tr>
      </thead>
      <tbody>
        {
          storiesCollection.map((story) => (
            <tr data-story-uuid={story.data.uuid}>
              <td>{story.data.name}</td>
              <td>{story.data.full_slug}</td>
              <td>{story.data.created_at}</td>
              <td>{story.data.updated_at}</td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </body>

  <style>
    th,
    td {
      border: 1px solid rgb(160 160 160);
      padding: 8px 10px;
    }

    th[scope="col"] {
      background-color: #505050;
      color: white;
    }

    th[scope="row"] {
      background-color: #d6ecd4;
    }

    td {
      text-align: center;
    }

    tr:nth-of-type(even) {
      background-color: #eeeeee;
    }

    table {
      border-collapse: collapse;
      border: 2px solid rgb(140 140 140);
      font-family: sans-serif;
      font-size: 0.8rem;
      letter-spacing: 1px;
    }

    caption {
      caption-side: bottom;
      padding: 10px;
    }
  </style>
</html>
